<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="../scripts/sweetalert.min.js"></script>
<script src="../scripts/firebase-app.js"></script>
<script src="../scripts/firebase-auth.js"></script>
<script src="../scripts/firebase-firestore.js"></script>
<script src="../scripts/firebase-storage.js"></script>
<script src="../scripts/initialize.js"></script>
<script src="../scripts/auth/logout.js"></script>