<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="dashboard.php"><i class = "material-icons">home</i>HOME</a></li>
    <li><a href="category.php"><i class = "material-icons">class</i>CATEGORY</a></li>
    <li><a href="subcategory.php"><i class = "material-icons">class</i>SUB CATEGORY</a></li>
    <li><a href="users.php"><i class = "material-icons">people</i>USERS LIST</a></li>
    <li><a href="transaction-reports.php"><i class = "material-icons">report</i>TRANSACTION REPORTS</a></li>
    <li><a href="reported-users-list.php"><i class = "material-icons">report</i>REPORTED USERS LIST</a></li>
    <li><a href="reported-remnants-list.php"><i class = "material-icons">report</i>REPORTED REMNANTS LIST</a></li>
    <li><a href="banned-user-request.php"><i class = "material-icons">account_box</i>BANNED USERS REQUEST</a></li>
    <li><a href="banned-remnant-request.php"><i class = "material-icons">account_box</i>BANNED REMNTS REQUEST</a></li></br>
    <li><a href="#" id='log-out'><i class = "material-icons">exit_to_app</i>LOGOUT</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>