<div class = "container newbody" id="user-profile">
    
</div>

<div id="buyModal" class="modal modal-fixed-footer">
</div>
  
<div id="sellModal" class="modal modal-fixed-footer">
</div>
  
<div id="bidModal" class="modal modal-fixed-footer">
</div>
	
<div id="remModal" class="modal modal-fixed-footer">
</div>

<div class="users-remnants-list" style="margin-left: 25%">
	<table class = "highlight centered" id="table-users-list" style = "margin-top:50px;">
		<thead>
			<tr>
				<th>IMAGE</th>
				<th>NAME</th>                      
				<th>ACTION</th>
			</tr>
		</thead>
		<tbody id="tbody-remnants">
		</tbody>
	</table>
</div>