<div class = "container newbody">
    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#addUser"><i class = "material-icons left">add</i>ADD USER</a> -->
    <!-- ADD MODAL USER -->
    <!-- <div class="modal" id="addUser">
        <div class = "right-align">
            <span class = "modal-close btn-flat"><i class = "material-icons">clear</i></span>
        </div>
        <div class="modal-content">
            <form id="addUserForm">
                <div class="input-field">
                    <input name="firstName" id="firstName" type="text" class="validate">
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field">
                    <input name="lastName" id="lastName" type="text" class="validate">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="input-field">
                    <input name="imageUrl" id="imageUrl" type="file" class="validate">
                </div>
                <button class = "modal-close wave-effect wave-green btn right" >ADD</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div> -->
    <!-- UPDATE MODAL CATEGORY -->
    <!-- <div class = "modal" id="updateUser">
        <div class = "right-align">
            <span class = "modal-close btn-flat"><i class = "material-icons">clear</i></span>
        </div>
        <div class = "modal-content">
            <form id="updateUserForm">
                <div class="input-field">
                    <input id="firstName" name="firstName" type = "text" class = "validate">
                    <label for ="firstName">First Name</label>
                </div>
                <div class="input-field">
                    <input id="lastName" name="lastName" type = "text" class = "validate">
                    <label for ="lastName">Last Name</label>
                </div>
                <div class="input-field">
                    <input name="imageUrl" id="imageUrl_update" type="file" class="validate">
                </div>
                <button class = "modal-close wave-effect wave-green btn right" >UPDATE</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div> -->
    <table class = "highlight centered" id="table-users-list" style = "margin-top:50px;">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Status</th>
                <th>Ban Status</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody id="tbody-users">
        </tbody>
    </table>
</div>